/*start subscribe.*/
.subscribe{
    background-color:aquamarine(233, 174,87);
}
/*end subscribe.*/
/*start subscribe*/
.subscribe{
    background-color: blueviolet;
}
.subscribe input[type="text"].{
    border-color: none;
    border-bottom: 1px solid wheat;
}
subscribe input[type="text"].focus {
    outline: none;
}
.subscribe ::placeholder {
    color: wheat;

}
.subscribe input[type="submit"]{
    background-color: var(--dark-color);
    color: yellow; }

    .footer .copyright > span (
    ..color (--green-color); )
    
    .footer .copyright div span{
        color: yellowgreen;
    }
    .footer .contact ul svg {
        width: 20px;
        height: 20px;
    }
    .footer .facebook{
        background-color: blue;
    }
    .footer .twitter{
        background-color: blueviolet;
    }
    .footer .linledin{
        background-color: aquamarine;
    }
    .footer .youtube{
        background-color: blanchedalmond;
    }
/*End subscribe*/
