:root{ 
--dark-color: #19283f
}
body {
  font-family: 'Roboto', sans-serif;
}

/* start Navbar */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar-brand img {
  height: 40px;
}

.main-btn {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
}

.main-btn:hover {
  background-color: #1976d2;
  color: #fff;
}
/* end Navbar */
